<!--<form [formGroup]="form">-->
  <!--<mat-form-field>-->

    <!--&lt;!&ndash;(change)="change(field, thisField.value)"  [ngModel]="field.body.value"&ndash;&gt;-->
    <!--<mat-select-->
      <!--freeformObject-->

      <!--[freeformType]="'field'"-->
      <!--[freeformBaseId]="fieldid"-->
      <!--[freeformObjId]="objid"-->
      <!--[(ngModel)]="field.body.value"-->

      <!--formControlName="field"-->
      <!--placeholder="{{field.body.name}}"-->
      <!--[disabled]="disabled || field.body.status.disabled"-->
    <!--&gt;-->
      <!--<mat-option *ngFor="let option of field.body.payload.options" [value]="option.key">{{option.val }}</mat-option>-->
    <!--</mat-select>-->


    <!--<mat-checkbox-->

      <!--freeformObject-->

      <!--[freeformType]="'field'"-->
      <!--[freeformBaseId]="fieldid"-->
      <!--[freeformObjId]="objid"-->
      <!--[(ngModel)]="field.body.value"-->

      <!--formControlName="field"-->
      <!--placeholder="{{field.body.name}}"-->
      <!--[disabled]="disabled || field.body.status.disabled"-->
    <!--&gt;-->
      <!--I'm a checkbox-->
    <!--</mat-checkbox>-->

    <!--<mat-error *ngIf="-->
               <!--field.body?.status?.untouched === true &&-->
               <!--field.body?.status?.value === false-->
             <!--"-->
    <!--&gt;-->
      <!--1 {{field.body?.helper?.error}}-->
    <!--</mat-error>-->
  <!--</mat-form-field>-->
<!--</form>-->
