<!--<form [formGroup]="form">-->
  <!--&lt;!&ndash;<mat-form-field class="example-full-width">&ndash;&gt;-->
    <!--&lt;!&ndash;[ngModel]="field?.body?.status?.value"&ndash;&gt;-->

    <!--<ckeditor-->
      <!--(keypress)="onKeyPress($event)"-->
      <!--[(ngModel)]="field.body.value"-->
      <!--formControlName="field"-->


      <!--[disabled]="field['clientGeneration'] || disabled || field.body.status.disabled || !field.options.access.write"-->


      <!--[config]="ckeditorConfig"-->
      <!--[readonly]="false"-->
      <!--(change)="onChange($event)"-->
      <!--(editorChange)="onEditorChange($event)"-->
      <!--(ready)="onReady($event)"-->
      <!--(focus)="onFocus($event)"-->
      <!--(blur)="onBlur($event)"-->
      <!--(contentDom)="onContentDom($event)"-->
      <!--(fileUploadRequest)="onFileUploadRequest($event)"-->
      <!--debounce="500"-->


      <!--freeformObject-->
      <!--[freeformType]="'field'"-->
      <!--[freeformBaseId]="fieldid"-->
      <!--[freeformObjId]="objid"-->
    <!--&gt;-->
    <!--</ckeditor>-->
    <!--&lt;!&ndash;freeformObject&ndash;&gt;-->
    <!--&lt;!&ndash;[freeformType]="'field'"&ndash;&gt;-->
    <!--&lt;!&ndash;[freeformBaseId]="fieldid"&ndash;&gt;-->
    <!--&lt;!&ndash;[freeformObjId]="objid"&ndash;&gt;-->
    <!--&lt;!&ndash;formControlName="field"&ndash;&gt;-->
    <!--&lt;!&ndash;type="{{type}}"&ndash;&gt;-->

    <!--&lt;!&ndash;<span *ngIf="field.body.view.prefix?.value && field.body.view.prefix?.type === 'string'" matPrefix>{{field.body.view.prefix.value}}</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<span *ngIf="field.body.view.postfix?.value && field.body.view.postfix?.type === 'string'" matSuffix>{{field.body.view.postfix.value}}</span>&ndash;&gt;-->

    <!--&lt;!&ndash;If this field is required and have error message -> show this message &ndash;&gt;-->
    <!--&lt;!&ndash;<mat-error *ngIf="&ndash;&gt;-->
               <!--&lt;!&ndash;field.body?.status?.untouched === true &&&ndash;&gt;-->
               <!--&lt;!&ndash;field.body?.status?.value !== true &&&ndash;&gt;-->
               <!--&lt;!&ndash;field.body?.status?.required.length > 0 &&&ndash;&gt;-->
               <!--&lt;!&ndash;(field.body?.helper?.error || field.body.gen.errorOfValidator)&ndash;&gt;-->
             <!--&lt;!&ndash;"&ndash;&gt;-->
    <!--&lt;!&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;ADD DICTIONARY&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;{{(field.body.gen.errorOfValidator || field.body?.helper?.error) | connectDictionary}}&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-error>&ndash;&gt;-->


    <!--&lt;!&ndash;If this field has hint -> show this hint &ndash;&gt;-->
    <!--&lt;!&ndash;<mat-hint align="start" *ngIf="field.body?.view?.hint?.start"><strong>{{field.body.view.hint.start}}</strong> </mat-hint>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-hint align="end" *ngIf="field.body?.view?.hint?.end"><strong>{{field.body.view.hint.end}}</strong> </mat-hint>&ndash;&gt;-->


  <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
<!--</form>-->




