.formGroup_ {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0rem;
  position: relative;

  // if we have error group
  &.error_ {
    //border: 1px solid rgba(255, 0, 0, 0.5);
  }

  // if we have error group
  &.success_ {
    border: 1px solid rgba(3, 179, 0, 0.5);//0.
  }


}
.minimize {
  font-size: 1rem;
  text-align: center;
}

.alert {
  opacity: 1;
  font-size: 0.85rem;

  &.alert-info {
    background-color: rgba(255, 255, 255, 0.6588235294117647);
    border-color: transparent;
    color: rgba(128, 176, 212, 0.6);
  }

  .leftBlock_ {

  }
  .body_ {

  }
}



.icon_ {
  color: #3f50b5;
}

.header_ {
  position: relative;
  height: 1.5rem;
  margin-bottom: 0.25rem;

  .rightButtons_ {
    position: absolute;
    top: 0px;
    right: 0.2rem;

    .btn  {
      display: inline-block;
      cursor: pointer;
      margin: 0.05rem 0.15rem;
      width: 0.8rem;
      font-size: 0.8rem;
      text-align: center;

      &.copyButton {

      }
    }
  }
}
